In [2]:
# Import libraries.
import pandas as pd
import numpy as np

# Read the data. 
df = pd.read_csv(r'C:\Users\nasru\OneDrive\Desktop\Python-PRJ\RealState\RS.csv')

In [3]:
# Look at the data.
df.head()

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"For rent: Apartment Cornelis Anthoniszstraat, ...","€1,850 per month",55 m²,160 m²,2 rooms,1.0,1.0,Furnished,For rent,From 01-02-2023,Apartment,"Upstairs apartment, Apartment",Existing building,1894,2,Present,Not present,Not present,Yes,No
1,"For rent: House Groenlandstraat, Amsterdam","€2,400 per month",164 m²,551 m²,2 rooms,1.0,3.0,Upholstered,For rent,Immediately,House,"Mid-terrace house, Town house",Existing building,2001,2,Not present,Not present,Not present,Yes,Yes
2,"For rent: Apartment Pieter Jacobszstraat 8 d, ...","€2,200 per month",77 m²,230 m²,2 rooms,1.0,1.0,Furnished,For rent,From 07-02-2023,Apartment,"Mezzanine, Apartment",Existing building,1905,2,Present,Not present,Present,Yes,No
3,"For rent: Apartment Akbarstraat 12 B, Amsterdam","€1,900 per month",60 m²,150 m²,3 rooms,2.0,1.0,Furnished,For rent,From 01-03-2023,Apartment,Mezzanine,Existing building,1952,3,Present,Present,Present,Yes,No
4,"For rent: House Dwergvinvisstraat, Amsterdam","€2,000 per month",100 m²,300 m²,4 rooms,3.0,2.0,Furnished,For rent,From 01-03-2023,House,"Mid-terrace house, Family home",Existing building,1992,4,Present,Present (50 m²),Present,Yes,No

In [4]:
# Shows the missing data per column. 
df.isnull().sum()

Title                   0
Price                   0
Living Area             0
Volume                  9
Number of rooms         0
Number of bedroom       3
Num of floors           5
Interior                0
Status                  0
Availability            0
Type of house           0
Type of house 1         0
Type of construction    0
Year of construction    0
Num of room             0
Balcony                 0
Garden                  0
Storeroom               5
Parking                 0
Garage                  0
dtype: int64

In [5]:
# Remove the "For rent:" from column Title.
df['Title'] = df['Title'].str.replace('For rent:', '')
df['Title']

0       Apartment Cornelis Anthoniszstraat, Amsterdam
1                    House Groenlandstraat, Amsterdam
2       Apartment Pieter Jacobszstraat 8 d, Amsterdam
3               Apartment Akbarstraat 12 B, Amsterdam
4                  House Dwergvinvisstraat, Amsterdam
                            ...
129                       House Aalsterweg, Eindhoven
130                 Apartment Geldropseweg, Eindhoven
131                     Apartment Vestdijk, Eindhoven
132                  Apartment Stoomstraat, Eindhoven
133                    Apartment Venuslaan, Eindhoven
Name: Title, Length: 134, dtype: object

In [6]:
# Remove "€" and "Per month" from column Price.
df['Price'] = df['Price'].str.replace('€','')
df['Price'] = df['Price'].str.replace(',','')
df['Price'] = df['Price'].str.replace('per month','')

df.head()

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",1850,55 m²,160 m²,2 rooms,1.0,1.0,Furnished,For rent,From 01-02-2023,Apartment,"Upstairs apartment, Apartment",Existing building,1894,2,Present,Not present,Not present,Yes,No
1,"House Groenlandstraat, Amsterdam",2400,164 m²,551 m²,2 rooms,1.0,3.0,Upholstered,For rent,Immediately,House,"Mid-terrace house, Town house",Existing building,2001,2,Not present,Not present,Not present,Yes,Yes
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",2200,77 m²,230 m²,2 rooms,1.0,1.0,Furnished,For rent,From 07-02-2023,Apartment,"Mezzanine, Apartment",Existing building,1905,2,Present,Not present,Present,Yes,No
3,"Apartment Akbarstraat 12 B, Amsterdam",1900,60 m²,150 m²,3 rooms,2.0,1.0,Furnished,For rent,From 01-03-2023,Apartment,Mezzanine,Existing building,1952,3,Present,Present,Present,Yes,No
4,"House Dwergvinvisstraat, Amsterdam",2000,100 m²,300 m²,4 rooms,3.0,2.0,Furnished,For rent,From 01-03-2023,House,"Mid-terrace house, Family home",Existing building,1992,4,Present,Present (50 m²),Present,Yes,No

In [7]:
# Remove the measurement unit (m²) from columns Living Area and Volume. 
df['Volume'] = df['Volume'].str.replace('m²','')
df['Living Area'] = df['Living Area'].str.replace('m²','')

df.head()

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",1850,55,160,2 rooms,1.0,1.0,Furnished,For rent,From 01-02-2023,Apartment,"Upstairs apartment, Apartment",Existing building,1894,2,Present,Not present,Not present,Yes,No
1,"House Groenlandstraat, Amsterdam",2400,164,551,2 rooms,1.0,3.0,Upholstered,For rent,Immediately,House,"Mid-terrace house, Town house",Existing building,2001,2,Not present,Not present,Not present,Yes,Yes
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",2200,77,230,2 rooms,1.0,1.0,Furnished,For rent,From 07-02-2023,Apartment,"Mezzanine, Apartment",Existing building,1905,2,Present,Not present,Present,Yes,No
3,"Apartment Akbarstraat 12 B, Amsterdam",1900,60,150,3 rooms,2.0,1.0,Furnished,For rent,From 01-03-2023,Apartment,Mezzanine,Existing building,1952,3,Present,Present,Present,Yes,No
4,"House Dwergvinvisstraat, Amsterdam",2000,100,300,4 rooms,3.0,2.0,Furnished,For rent,From 01-03-2023,House,"Mid-terrace house, Family home",Existing building,1992,4,Present,Present (50 m²),Present,Yes,No

In [8]:
# Remove "rooms" from column Number of rooms. 
df['Number of rooms'] = df['Number of rooms'].str.replace('rooms','')
df.head()

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",1850,55,160,2,1.0,1.0,Furnished,For rent,From 01-02-2023,Apartment,"Upstairs apartment, Apartment",Existing building,1894,2,Present,Not present,Not present,Yes,No
1,"House Groenlandstraat, Amsterdam",2400,164,551,2,1.0,3.0,Upholstered,For rent,Immediately,House,"Mid-terrace house, Town house",Existing building,2001,2,Not present,Not present,Not present,Yes,Yes
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",2200,77,230,2,1.0,1.0,Furnished,For rent,From 07-02-2023,Apartment,"Mezzanine, Apartment",Existing building,1905,2,Present,Not present,Present,Yes,No
3,"Apartment Akbarstraat 12 B, Amsterdam",1900,60,150,3,2.0,1.0,Furnished,For rent,From 01-03-2023,Apartment,Mezzanine,Existing building,1952,3,Present,Present,Present,Yes,No
4,"House Dwergvinvisstraat, Amsterdam",2000,100,300,4,3.0,2.0,Furnished,For rent,From 01-03-2023,House,"Mid-terrace house, Family home",Existing building,1992,4,Present,Present (50 m²),Present,Yes,No

In [9]:
# Looking at the unique values in column Garden. 
df['Garden'].value_counts()

Not present                              92
Present                                  21
Present (40 m²)                           3
Present (60 m²)                           2
Present (99 m²)                           1
Present (80 m²)                           1
Present (63 m²)                           1
Present (12 m²)                           1
Present (25 m², located on the west)      1
Present (87 m²)                           1
Present (21 m²)                           1
Present (100 m²)                          1
Present (13 m²)                           1
Present (16 m²)                           1
Present (400 m²)                          1
Present (55 m²)                           1
Present (160 m², located on the east)     1
Present (30 m²)                           1
Present (50 m²)                           1
Present (25 m²)                           1
Name: Garden, dtype: int64

In [10]:
# Extract only 'Present' and 'Not present' - Omit units of measurement, parentheses and additional info. 
df['Garden'] = df['Garden'].astype(str)
df['Garden'] = df['Garden'].str.extract('([a-zA-Z ]+)', expand=False).str.strip()
df['Garden'].value_counts()

Not present    92
Present        42
Name: Garden, dtype: int64

In [11]:
# Replace the missing data in column Volume with its mean value. 
# Calculate the average of Volume column. 
vol_avg = df['Volume'].astype(float).mean(axis=0).__round__()
print("Average of volume is:", vol_avg)

Average of volume is: 224

In [12]:
# Replace NaN by mean value. 
df['Volume'].replace(np.nan, vol_avg, inplace=True)

In [13]:
# Calculate the mean of column Number of bedroom. 
Avg_broom = df['Number of bedroom'].astype(float).mean(axis=0).__round__()
print("Average of bedroom is:", Avg_broom)

Average of bedroom is: 2

In [14]:
# Replace NaN by mean value. 
df['Number of bedroom'].replace(np.nan, Avg_broom, inplace=True)

In [15]:
# Calculate the Average of column Num of floors. 
avg_floors = df['Num of floors'].astype(float).mean(axis=0).__round__()
print("Average of Number of floors is:", avg_floors)

Average of Number of floors is: 1

In [16]:
# Replace the NaN with mean value. 
df['Num of floors'].replace(np.nan, avg_floors, inplace=True)

In [17]:
# Check what is the most frequent value in column Storeroom. 
df['Storeroom'].value_counts(normalize=True).mul(100).round(1).astype(str)+' %'

Not present    55.0 %
Present        45.0 %
Name: Storeroom, dtype: object

In [18]:
# Replace the missing data with the most frequent value. 
df['Storeroom'].replace(np.nan, "Not present", inplace=True)

In [19]:
# Final check for missing data. 
df.isnull().sum()

Title                   0
Price                   0
Living Area             0
Volume                  0
Number of rooms         0
Number of bedroom       0
Num of floors           0
Interior                0
Status                  0
Availability            0
Type of house           0
Type of house 1         0
Type of construction    0
Year of construction    0
Num of room             0
Balcony                 0
Garden                  0
Storeroom               0
Parking                 0
Garage                  0
dtype: int64

In [20]:
# Check for duplicates.
print(df.duplicated().value_counts())

False    125
True       9
dtype: int64

In [21]:
# Delete the duplicates.
df.drop_duplicates(inplace=True)

In [22]:
# Change data types.
df['Price'] = df['Price'].astype(int)
df['Living Area'] = df['Living Area'].astype(int)
df['Volume'] = df['Volume'].astype(int)
df['Number of rooms'] = df['Number of rooms'].astype(float)
df['Year of construction'] = pd.to_datetime(df['Year of construction'], format='%Y', errors='coerce')

df.dtypes

Title                           object
Price                            int32
Living Area                      int32
Volume                           int32
Number of rooms                float64
Number of bedroom              float64
Num of floors                  float64
Interior                        object
Status                          object
Availability                    object
Type of house                   object
Type of house 1                 object
Type of construction            object
Year of construction    datetime64[ns]
Num of room                      int64
Balcony                         object
Garden                          object
Storeroom                       object
Parking                         object
Garage                          object
dtype: object

In [23]:
df.head(3)

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",1850,55,160,2.0,1.0,1.0,Furnished,For rent,From 01-02-2023,Apartment,"Upstairs apartment, Apartment",Existing building,1894-01-01,2,Present,Not present,Not present,Yes,No
1,"House Groenlandstraat, Amsterdam",2400,164,551,2.0,1.0,3.0,Upholstered,For rent,Immediately,House,"Mid-terrace house, Town house",Existing building,2001-01-01,2,Not present,Not present,Not present,Yes,Yes
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",2200,77,230,2.0,1.0,1.0,Furnished,For rent,From 07-02-2023,Apartment,"Mezzanine, Apartment",Existing building,1905-01-01,2,Present,Not present,Present,Yes,No

In [24]:
# Remove the decimal points from these columns. 
df['Number of bedroom'] = df['Number of bedroom'].astype(int).replace('\.0','', regex=True)
df['Num of floors'] = df['Num of floors'].astype(int).replace('\.0','', regex=True)
df['Number of rooms'] = df['Number of rooms'].astype(int).replace('\.0','', regex=True)
df.head()

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",1850,55,160,2,1,1,Furnished,For rent,From 01-02-2023,Apartment,"Upstairs apartment, Apartment",Existing building,1894-01-01,2,Present,Not present,Not present,Yes,No
1,"House Groenlandstraat, Amsterdam",2400,164,551,2,1,3,Upholstered,For rent,Immediately,House,"Mid-terrace house, Town house",Existing building,2001-01-01,2,Not present,Not present,Not present,Yes,Yes
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",2200,77,230,2,1,1,Furnished,For rent,From 07-02-2023,Apartment,"Mezzanine, Apartment",Existing building,1905-01-01,2,Present,Not present,Present,Yes,No
3,"Apartment Akbarstraat 12 B, Amsterdam",1900,60,150,3,2,1,Furnished,For rent,From 01-03-2023,Apartment,Mezzanine,Existing building,1952-01-01,3,Present,Present,Present,Yes,No
4,"House Dwergvinvisstraat, Amsterdam",2000,100,300,4,3,2,Furnished,For rent,From 01-03-2023,House,"Mid-terrace house, Family home",Existing building,1992-01-01,4,Present,Present,Present,Yes,No

In [25]:
# Splitting column title into two columns of property Name and City.
df[['Name', 'City']] = df.Title.str.split(",", expand=True)
df.head()

,Title,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,Status,Availability,...,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage,Name,City
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",1850,55,160,2,1,1,Furnished,For rent,From 01-02-2023,...,Existing building,1894-01-01,2,Present,Not present,Not present,Yes,No,Apartment Cornelis Anthoniszstraat,Amsterdam
1,"House Groenlandstraat, Amsterdam",2400,164,551,2,1,3,Upholstered,For rent,Immediately,...,Existing building,2001-01-01,2,Not present,Not present,Not present,Yes,Yes,House Groenlandstraat,Amsterdam
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",2200,77,230,2,1,1,Furnished,For rent,From 07-02-2023,...,Existing building,1905-01-01,2,Present,Not present,Present,Yes,No,Apartment Pieter Jacobszstraat 8 d,Amsterdam
3,"Apartment Akbarstraat 12 B, Amsterdam",1900,60,150,3,2,1,Furnished,For rent,From 01-03-2023,...,Existing building,1952-01-01,3,Present,Present,Present,Yes,No,Apartment Akbarstraat 12 B,Amsterdam
4,"House Dwergvinvisstraat, Amsterdam",2000,100,300,4,3,2,Furnished,For rent,From 01-03-2023,...,Existing building,1992-01-01,4,Present,Present,Present,Yes,No,House Dwergvinvisstraat,Amsterdam

In [26]:
# Move the columns "Name", "City" to the second and third position within the dataframe. 
second_column = df.pop('Name')
third_column = df.pop('City')
df.insert(1,'Name', second_column)
df.insert(2,'City', third_column)

df.head()

,Title,Name,City,Price,Living Area,Volume,Number of rooms,Number of bedroom,Num of floors,Interior,...,Type of house,Type of house 1,Type of construction,Year of construction,Num of room,Balcony,Garden,Storeroom,Parking,Garage
0,"Apartment Cornelis Anthoniszstraat, Amsterdam",Apartment Cornelis Anthoniszstraat,Amsterdam,1850,55,160,2,1,1,Furnished,...,Apartment,"Upstairs apartment, Apartment",Existing building,1894-01-01,2,Present,Not present,Not present,Yes,No
1,"House Groenlandstraat, Amsterdam",House Groenlandstraat,Amsterdam,2400,164,551,2,1,3,Upholstered,...,House,"Mid-terrace house, Town house",Existing building,2001-01-01,2,Not present,Not present,Not present,Yes,Yes
2,"Apartment Pieter Jacobszstraat 8 d, Amsterdam",Apartment Pieter Jacobszstraat 8 d,Amsterdam,2200,77,230,2,1,1,Furnished,...,Apartment,"Mezzanine, Apartment",Existing building,1905-01-01,2,Present,Not present,Present,Yes,No
3,"Apartment Akbarstraat 12 B, Amsterdam",Apartment Akbarstraat 12 B,Amsterdam,1900,60,150,3,2,1,Furnished,...,Apartment,Mezzanine,Existing building,1952-01-01,3,Present,Present,Present,Yes,No
4,"House Dwergvinvisstraat, Amsterdam",House Dwergvinvisstraat,Amsterdam,2000,100,300,4,3,2,Furnished,...,House,"Mid-terrace house, Family home",Existing building,1992-01-01,4,Present,Present,Present,Yes,No

In [27]:
# Delete the columns not needed. 
df.drop(['Title', 'Name', 'Type of house 1','Type of construction', 'Num of room', 'Status', 'Availability'], axis=1, inplace=True)

In [28]:
# Rename columns.
df.rename(columns={"Living Area":"Living_area","Number of rooms": "Room", "Number of bedroom": "Bedroom", "Num of floors": "Floor", "Type of house":"Type", "Year of construction":"Year_built"}, inplace=True)
df.head()

,City,Price,Living_area,Volume,Room,Bedroom,Floor,Interior,Type,Year_built,Balcony,Garden,Storeroom,Parking,Garage
0,Amsterdam,1850,55,160,2,1,1,Furnished,Apartment,1894-01-01,Present,Not present,Not present,Yes,No
1,Amsterdam,2400,164,551,2,1,3,Upholstered,House,2001-01-01,Not present,Not present,Not present,Yes,Yes
2,Amsterdam,2200,77,230,2,1,1,Furnished,Apartment,1905-01-01,Present,Not present,Present,Yes,No
3,Amsterdam,1900,60,150,3,2,1,Furnished,Apartment,1952-01-01,Present,Present,Present,Yes,No
4,Amsterdam,2000,100,300,4,3,2,Furnished,House,1992-01-01,Present,Present,Present,Yes,No

In [29]:
# Sort the data by Price in decending order.  
df.sort_values(by=['Price'], inplace=True, ascending=False)

In [30]:
# Save the dataset to a new file.
pd = df.to_csv('RS-Cleaned.csv', index=False)